<a href="https://colab.research.google.com/github/nualpair/data_viz_2022/blob/main/Basic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions ($f(x) = y $)**

``` python 
def function_name(input_x): #ขึ้นต้นด้วย def แล้วตามด้วยชื่อ function แล้วรับ input ด้วยตัวแปร x
    #do someting with input_x to get output_y จะได้ค่า y ออกมา
    return output_y 
```

$f_1(x)=x^2 + 75$

In [1]:
# Function มีครบทุกอย่าง 
def function_f1(x):
    a = x**2 #ยกกำลัง คือ ** สองอัน
    y = a + 75 
    return y #ส่งค่าออกมาเป็นค่า y

print('done!') #ไม่ให้มันเยื้องแล้ว ให้มันกลับมาเหมือนเดิม

done!

In [2]:
function_f1(3) # x =  3 ค่าที่ได้จะเท่ากับ 84

84

## **Function มีส่วนสำคัญทั้งหมด 4 ส่วน** 

1. บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร def  function_name(): (ขาดไม่ได้) 
2. กำหนดตัวแปรที่จะเป็น input (ขาดได้)
3. ส่วนประมวลผล (ขาดไม่ได้)
4. ส่วน output  (ขาดได้)

###ตัวอย่าง function ที่มีส่วนประกอบครบ

In [3]:
# Function มีครบทุกอย่าง 
def function_f1(x):
    a = x**2 #ยกกำลัง คือ ** สองอัน
    y = a + 75 
    return y #ส่งค่าออกมาเป็นค่า y

print('done!') #ไม่ให้มันเยื้องแล้ว ให้มันกลับมาเหมือนเดิม

done!

###ตัวอย่าง function ที่ไม่มี input

In [4]:
def pi_v(): #กำหนดชื่อเป็น pi_v
    y =3.14159265359
    return y #ส่งค่าออกมาเป็นค่า y

In [5]:
piv = pi_v()
circle_area_r2 = pi_v()*(2**2) #ตัวอย่างหาพื้นที่วงกลม
print(circle_area_r2)

12.56637061436

###ตัวอย่าง function ที่ไม่มี Process

In [6]:
## def functions_a():    ###กรณีไม่มี Process ไม่มีไม่ได้ ไม่งั้นจะ Error

###ตัวอย่าง function ที่ไม่มี output

In [7]:
def print_name_id(name,id): #name ตรงนี้ไม่ใช่ตัวแปรถาวร ถ้าถูกใช้แล้วก็จะหายไป
    print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [8]:
print_name_id('นวลแพร','623020525-0') #print ชื่อกับรหัสประจำตัวออกมา

ชื่อ นวลแพร รหัสประจำตัว 623020525-0

In [9]:
a = print_name_id('นวลแพร','623020525-0') #กรณีไม่มี return

ชื่อ นวลแพร รหัสประจำตัว 623020525-0

In [10]:
a #ไม่มี return ค่า a เลยเป็นช่องว่างธรรมดา

###ตัวอย่าง function print
https://www.programiz.com/python-programming/methods/built-in/print

In [11]:
print(' นวลแพร ',end=' -> ') #จะอยู่ในบรรทัดเดียวกัน
print(' 623020525-0 ') #\n ขึ้นบรรทัดใหม่

 นวลแพร  ->  623020525-0

In [12]:
 print('นวลแพร',end=' 623020525-0 ') #จะอยู่ในบรรทัดเดียวกัน

นวลแพร 623020525-0

In [13]:
 print('นวลแพร',' 623020525-0 ',sep=' & ') #จะเพิ่ม & ให้

นวลแพร &  623020525-0

##**input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)**

###ตัวอย่าง function print_grade มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และ ไม่จำเป็นต้องใส่ 1 ตัว คือ เกรด ซึ่งมีค่าเป็นค่าเริ่มต้น เป็น F

In [14]:
def print_grade(name,id,grade = 'F'): #ฟังกชั่นมี input , พารามิเตอร์ 3 ตัว 
     print(f'รหัสนักศึกษา {id} ชื่อ {name}')
     print(f'ได้เกรด {grade}')

In [15]:
print_grade('นางสาวนวลแพร พนาวัฒนวงศ์' , '623020525-0' , 'A' ) #ลองปริ้นออกมาดู ซึ่งต้องใส่ให้ตรงกับที่ใส่ด้านบนคือ ใส่ชื่อก่อนใส่ไอดี #ถ้าไม่ใส่ เกรดจะได้ เกรด F

รหัสนักศึกษา 623020525-0 ชื่อ นางสาวนวลแพร พนาวัฒนวงศ์
ได้เกรด A

In [16]:
print_grade(id = '623020525-0' ,name = 'นางสาวนวลแพร พนาวัฒนวงศ์' ,grade='A' ) #กรณีนี้แบบกำหนดเลยว่า จะเอาอะไรขึ้นก่อน

รหัสนักศึกษา 623020525-0 ชื่อ นางสาวนวลแพร พนาวัฒนวงศ์
ได้เกรด A

##Looping (for)

In [17]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [18]:
def print_name(name):
    print(f'ฉันชื่อ {name}')

In [19]:
for name in ['วัชราภรณ์','จุฑากาญจน์ ','ชลธิชา','ญาดา','กิตติคุณ']:
    N = name
    print_name(N)

ฉันชื่อ วัชราภรณ์
ฉันชื่อ จุฑากาญจน์
ฉันชื่อ ชลธิชา
ฉันชื่อ ญาดา
ฉันชื่อ กิตติคุณ

In [20]:
list_name_id_grade = [['นางสาวเบญญาภา ระภูเขียว','623020527-6','B'],
                      ['นางสาวทักษิณา ราชหุ่น','623021000-1','A'],
                      ['นางสาวปลายฟ้า คำเพ็ง','623021005-1','C']]

In [21]:
for each in list_name_id_grade:
    name = each[0]
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print('----------------------------')

รหัสนักศึกษา 623020527-6 ชื่อ นางสาวเบญญาภา ระภูเขียว
ได้เกรด B
----------------------------
รหัสนักศึกษา 623021000-1 ชื่อ นางสาวทักษิณา ราชหุ่น
ได้เกรด A
----------------------------
รหัสนักศึกษา 623021005-1 ชื่อ นางสาวปลายฟ้า คำเพ็ง
ได้เกรด C
----------------------------

##**ใช้ for loop เพิ่มสมาชิกใน list**

In [22]:
list_name = []
list_id = []
list_grade = []
for each in list_name_id_grade:
    list_name.append(each[0])
    list_id.append(each[1])
    list_grade.append(each[2])

In [23]:
list_name

['นางสาวเบญญาภา ระภูเขียว', 'นางสาวทักษิณา ราชหุ่น', 'นางสาวปลายฟ้า คำเพ็ง']

##**การวนลูปด้วย range()**

In [24]:
for i in range(50):
  print('มุแงงง', end = ' ')

มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง มุแงงง

##**Loop ซ้อน Loop**

In [25]:
for mem1 in range(2,5): #[2,3,4]
    print(f'now mem1 = {mem1}')
    for mem2 in range(1,13): #[1,2,3,4,5,6,7,8,9,10,11,12]
        print(f'{mem1} x {mem2} = {mem1*mem2}')
    print(f'end inner for mem1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = 4

##**Loop in Function**

In [26]:
def print_grade_loop(names,grades):
    for n,g in zip(names,grades):
        print(f'{n} ได้เกรด {g}')

In [27]:
print_grade_loop(list_name,list_grade)

นางสาวเบญญาภา ระภูเขียว ได้เกรด B
นางสาวทักษิณา ราชหุ่น ได้เกรด A
นางสาวปลายฟ้า คำเพ็ง ได้เกรด C

##**Conditional Statement (if)**

```python
if condition1:
    do_something() ## ถ้า condition1 เป็นจริง ทำ do_something()
elif condition2:
    do_another_thing()  ## ถ้า condition1 ไม่เป็นจริงแต่ condition2 เป็นจริง ทำ do_another_thing()
else:
    do_the_last_thing() ## ถ้าไม่มี condition ไหนเป็นจริงเลย ทำ do_the_last_thing()
```

In [28]:
for n in list_name:
    if len(n)>20:
        print(f'{n} ได้เกรด A')
    else:
        print(f'{n} ได้เกรด F')

นางสาวเบญญาภา ระภูเขียว ได้เกรด A
นางสาวทักษิณา ราชหุ่น ได้เกรด A
นางสาวปลายฟ้า คำเพ็ง ได้เกรด F

### operator ที่ใช้ตรวจสอบ condition

==, !=, >=, <=, <, >, and, or

In [29]:
a = 10 == 20
print(a)

False

In [30]:
b = 15 <= 20
print(b)

True

In [31]:
if a:
    print('x')

In [32]:
if True:
    print('x')

x

In [33]:
if a and b:
    print('x')

In [34]:
if a or b:
    print('x')

x

# **HW 4**
เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A) หรือ 'ไม่สามารถตัดเกรดได้'

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49,'ก',80]

กำหนด

*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
*  ถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'

In [35]:
input = [1,50,65,90,101,-5,49,'ก',80]

In [37]:
for i in input:
    if type(i) == type(''):
            print (f'คะแนน เท่ากับ {i} ไม่สามารถตัดเกรดได้')
    else:
        if i >=101:
            print (f'คะแนน เท่ากับ {i} ไม่สามารถตัดเกรดได้')
        elif i >=80:
            print(f'คะเเนน เท่ากับ  {i} จะได้เกรด A')
        elif i>=75:
            print(f'คะเเนน เท่ากับ  {i} จะได้เกรด B+')
        elif i>=70:
            print(f'คะเเนน เท่ากับ  {i} จะได้เกรด B')
        elif i>=65:
            print(f'คะเเนน เท่ากับ  {i} จะได้เกรด C+')
        elif i>=60:
            print(f'คะเเนน เท่ากับ  {i} จะได้เกรด C')
        elif i>=55:
            print(f'คะเเนน เท่ากับ  {i} จะได้เกรด D+')
        elif i>=50:
            print(f'คะเเนน เท่ากับ  {i} จะได้เกรด D')
        elif i>=0:
            print(f'คะเเนน เท่ากับ  {i} จะได้เกรด F')
        else:
            print(f'คะเเนน เท่ากับ  {i} ไม่สามารถตัดเกรดได้')

คะเเนน เท่ากับ  1 จะได้เกรด F
คะเเนน เท่ากับ  50 จะได้เกรด D
คะเเนน เท่ากับ  65 จะได้เกรด C+
คะเเนน เท่ากับ  90 จะได้เกรด A
คะแนน เท่ากับ 101 ไม่สามารถตัดเกรดได้
คะเเนน เท่ากับ  -5 ไม่สามารถตัดเกรดได้
คะเเนน เท่ากับ  49 จะได้เกรด F
คะแนน เท่ากับ ก ไม่สามารถตัดเกรดได้
คะเเนน เท่ากับ  80 จะได้เกรด A